@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen w-screen overflow-hidden text-stone-800 antialiased;
}

.dark body {
  @apply text-stone-200;
}

#root {
  @apply h-full;
  background: #F5F2EC;
}

.dark #root {
  background: #1a1a1a;
}

@layer utilities {
  .absolute-center {
    @apply absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .link {
    @apply text-stone-800 underline transition-colors;
  }
  
  .dark .link {
    @apply text-stone-200;
  }
}

.japanese_gothic {
  font-family: "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif
}
